* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #09090a, #4c1d95);
  color: white;

  padding: 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 99px 120px 48px;
}

.header {
  padding: 16px 24px;
  border: 1px solid #8b5cf6;
  border-radius: 8px;
  background-color: transparent;
  color: white;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.header:hover {
  padding: 17px 25px;
  font-size: 17px;
  cursor: pointer;
}

#form-habits {
  display: flex;
  padding: 231px 120px 99px;
  width: fit-content;
}

.habits {
  margin-top: 65px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 64px;

  font-size: 32px;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;
  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background: #18181b;
}

input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 650px) {
  button div {
    display: none;
  }
}
